{% extends 'base.html.twig' %}

{% block title %}Accueil - MeublesByNicolas.fr -{% endblock %}

{% block body %}
    
    <header class="text-center m-5">
        <img src="{{asset('imgs/logos/logo.svg')}}" alt="Logo MBN" class="logoHome mt-5 mb-5">
        <h1>Fabricant de meubles sur mesure en Haute-Garonne</h1>
    </header>

    <article class="artHome container">

        <div class="blockH2 mb-5">
            <div class="traitH2"></div>
                <h2 class="text-center">Pourquoi choisir un meuble sur mesure ?</h2>
            <div class="traitH2"></div>
        </div>
    
        <div class="blockPourquoi espacePara">
            <p>Si vous lisez cette page, c’est probablement parce que vous envisagez de faire l’acquisition d’un nouveau meuble.</p>
            <div class="text-center m-5">
                <img src="imgs/dessins/dessin1.jpg" alt="Croquis" class="croquis1">
            </div>
            <p>Comme des millions de Français, vous avez sans doute besoin d’avoir des meubles qui vous plaisent pour vous sentir bien dans votre maison ou votre appartement.</p>
            <p>Un environnement qui vous ressemble et qui correspond à vos goûts, c’est essentiel pour égayer votre quotidien !</p>
            <p>Cependant, beaucoup de personnes oublient qu’un meuble de qualité nécessite un budget qui n’est pas à prendre à la légère.</p>
            <p>Que vous soyez propriétaire ou locataire et que vous souhaitez commencer à meubler votre intérieur avec des produits originaux, qui sortent de l’ordinaire, il y a fort à parier que vous serez vite déçu par ce qui est proposé dans les grandes enseignes d’ameublement comme IKEA, ALINEA et leurs concurrents.</p>
        </div>
   
        <div class="blockInvestissement espacePara mt-5">
            <h3 class="mb-5">Considérez l’acquisition d’un mobilier comme un investissement !</h3>
            <div class="investissementMedias">
                <div>
                    <p>Si nous prenons l’exemple de l’immobilier, lorsque vous investissez dans la pierre, il est fort probable que vous recherchiez le meilleur produit, qui correspond parfaitement à vos critères et à vos besoins.</p>
                    <p>C’est exactement la même chose pour vos meubles !</p>
                    <p>Pour vous assurer du mobilier à la hauteur de vos attentes, le mieux est encore de faire le choix du sur-mesure et de l’artisanat !</p>
                </div>
                <img src="imgs/dessins/dessin2.jpg" alt="Croquis" class="croquis2">
            </div>
        </div>
        
        <div class="blockArguments espacePara mt-5">
            <h3 class="mb-5">Offrez-vous un meuble qui vous ressemble, il vous suivra longtemps dans votre vie !</h3>
            <p>Des meubles artisanaux, c’est aussi la garantie de ne pas perdre trop d’argent si, un jour, vous souhaitez vous séparer de votre table basse, ou de votre commode qui ne correspondra plus à vos goûts.</p>
            <p>En effet, la côte de revente des meubles fabriqués artisanalement est beaucoup plus haute que celles des meubles industriels.</p>
            <div class="text-center m-5">
                <img src="imgs/dessins/dessin3.jpg" alt="Croquis" class="croquis3">
            </div>
            <p>On est d’accord, faire le choix d’un meuble sur-mesure, et surtout fabriqué par un artisan, c’est un budget.</p>
            <p>Mais si vous êtes sur cette page, c’est sûrement que vous souhaitez acheter autre chose que les meubles que vous aviez dans votre appartement d’étudiant !</p>
            <p>Si, malgré tout, vous faites le choix de revenir dans les grandes enseignes d’ameublement, vous risquez de vous retrouver avec un meuble qui a de grandes chances de ressembler à celui de votre voisin ou de votre couple d’amis !</p>
            <p>D’autre part, il y a fort à parier qu’il vieillisse mal dans le temps et vous le jetterez probablement à la benne au bout de quelques années.</p>
            <p>Et oui ! Forcément, pour vous proposer des prix toujours plus bas, les grands industriels du meuble utilisent des matériaux de mauvaise qualité et peu solides.</p>
            <p>Au moins, vous êtes prévenus !</p>
            <div class="text-center">
                <a href="{{path('devis')}}" class="btn btn-perso m-5">Demander un devis</a>
            </div>
        </div>

    </article>

    <section class="quiSuis-je p-5 mt-5">

        <div class="blockH2 mb-5">
            <div class="traitH2"></div>
                <h2 class="text-center mb-5">Qui suis-je ?</h2>
            <div class="traitH2"></div>
        </div>

        <div class="blockTexteQui mb-5">
            <div class="row">
                <div class="textQuiLeft col-sm-12 col-md-6 mb-3">
                    <p>Je suis Nicolas, trentenaire, habitant de la région Toulousaine.</p>
                    <p>Depuis 3 ans, je fabrique en tant qu’amateur, des meubles sur-mesure pour mes clients.</p>
                    <p>Au fil du temps, j’ai développé ma technique et j’ose de plus en plus de créations audacieuses. Je laisse parler ma créativité pour fabriquer des meubles originaux, authentiques et surtout uniques.</p>
                    <p>Certaines de mes créations se distinguent notamment par les conceptions en bi-matières que je propose, alliant la résine epoxy à des planches de bois, pour un style moderne, original et élégant.</p>
                    <p>Je suis donc à l’écoute de vos besoins et de vos souhaits et je peux vous proposer des meubles à la mesure de vos envies.</p>
                </div>
                <div class="textQuiRight col-sm-12 col-md-6 mb-3">
                    <div class="paraOpa">
                        <p>Quand je suis dans mon atelier, j’oublie tous les soucis du quotidien, c’est un vrai exutoire qui me permet de me changer les idées après une longue journée de travail.</p>
                        <p>J’adore laisser libre cours à mon imagination !</p>
                        <p>J’aime exploiter les caractéristiques de chaque planche de bois pour faire naître un meuble qui ne pourra  jamais être reproduit à l’identique.</p>
                        <p>Ainsi, à chaque fois que je termine une création, j’ai toujours ce même sentiment de satisfaction d’avoir réussi à créer un objet différent, authentique et unique.</p>
                        <p>Aujourd’hui, je fabrique des tables en différents matériaux mais aussi des tables basses et des commodes et des planches à découper.</p>
                    </div>
                    <img src="{{asset('imgs/photos/nicolas.jpg')}}" alt="Photo d'identité" class="pictNicolas">
                    <div class="menu-icon">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="essencesBois p-5">
        
        <div class="blockH2 mb-5">
            <div class="traitH2"></div>
                <h2 class="text-center">Essences de bois utilisées</h2>
            <div class="traitH2"></div>
        </div>

        <div class="container">

            <div class="autoplay">
                <div class="imgBoisTitre">
                    <img src="{{asset('imgs/essences/chene.png')}}" alt="Chêne" class="imgEssences img-fluid p-3">
                    <p>Chêne</p>
                </div>
                <div class="imgBoisTitre">
                    <img src="{{asset('imgs/essences/sapin.png')}}" alt="Sapin" class="imgEssences img-fluid p-3">
                    <p>Sapin</p>
                </div>
                <div class="imgBoisTitre">
                    <img src="{{asset('imgs/essences/ormeaux.png')}}" alt="Ormeaux" class="imgEssences img-fluid p-3">
                    <p>Ormeaux</p>
                </div>
                <div class="imgBoisTitre">
                    <img src="{{asset('imgs/essences/olivier.png')}}" alt="Olivier" class="imgEssences img-fluid p-3">
                    <p>Olivier</p>
                </div>
                <div class="imgBoisTitre">
                    <img src="{{asset('imgs/essences/pin.png')}}" alt="Pin" class="imgEssences img-fluid p-3">
                    <p>Pin</p>
                </div>
            </div>
        </div>
    
    </section>
    
    <section class="avisClientHome p-5">
    
        <div class="blockH2 mb-5">
            <div class="traitH2"></div>
                <h2 class="text-center">Mes clients en parlent !</h2>
            <div class="traitH2"></div>
        </div>

        <div class="container">
            <div class="row d-flex justify-content-around">
                
                <div class="col-sm-10 col-md-5 m-1 cardAvis">
                    <div class="headCard">
                        <div>
                            <img src="{{asset('imgs/photos/user1.jpg')}}" alt="Utilisateur" class="img-fluid mr-4 pictUser">
                        </div>
                        <div class="presUser">
                            <p>Rick Martin</p>
                            <p class="btn btn-perso2">Chêne</p>
                            <p>Magnifique !</p>
                        </div>
                    </div>
                    <div class="textCard mt-4">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ipsum, consectetur quod natus ducimus temporibus voluptatibus ipsa dolores libero tempora id tenetur aspernatur unde repellendus ut, necessitatibus praesentium.
                        Labore, recusandae quia.</p>
                    </div>
                    <img src="{{asset('imgs/meubles/table2.jpg')}}" alt="Table" class="img-fluid mt-3">
                </div>
            
                <div class="col-sm-10 col-md-5 m-1 cardAvis">
                    <div class="headCard">
                        <div>
                            <img src="{{asset('imgs/photos/user1.jpg')}}" alt="Utilisateur" class="img-fluid mr-4 pictUser">
                        </div>
                        <div class="presUser">
                            <p>Rick Martin</p>
                            <p class="btn btn-perso2">Chêne</p>
                            <p>Magnifique !</p>
                        </div>
                    </div>
                    <div class="textCard mt-4">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ipsum, consectetur quod natus ducimus temporibus voluptatibus ipsa dolores libero tempora id tenetur aspernatur unde repellendus ut, necessitatibus praesentium.
                        Labore, recusandae quia.</p>
                    </div>
                    <img src="{{asset('imgs/meubles/table1.jpg')}}" alt="Table" class="img-fluid mt-3">
                </div>

            </div>
            <div class="text-center m-5">
                <a href="{{path('avis')}}" class="btn btn-perso">Voir tous les retours clients</a>
            </div>
        </div>

    </section>

{% endblock %}
