<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        
        {# BOOTSRAP #}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
        {# LIEN CSS #}
        <link rel="stylesheet" href="{{asset('css/navbar.css')}}">
        <link rel="stylesheet" href="{{asset('css/paramDeBase.css')}}">
        <link rel="stylesheet" href="{{asset('css/home.css')}}">
        <link rel="stylesheet" href="{{asset('css/medias.css')}}">

    </head>
    <body>

        <nav class="navbar fixed-top navbar-expand-lg navbar-light">

            <a class="navbar-brand" href="{{path('home')}}"><img src="{{asset('imgs/logos/logoNav.svg')}}" alt="logo" class="logoNavBar my-3"></a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">

                
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link navActiv" href="{{path('home')}}">Accueil</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Meubles
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">MEUBLE 1</a>
                        <a class="dropdown-item" href="#">MEUBLE 2</a>
                        <a class="dropdown-item" href="#">MEUBLE 3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Avis clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Devis</a>
                    </li>
                </ul>

                <div class="logoRS">
                    <a href="#"><img src="{{asset('imgs/r-s/facebook.svg')}}" alt="Facebook"></a>
                    <a href="#"><img src="{{asset('imgs/r-s/instagram.svg')}}" alt="Instagram"></a>
                    <a href="#"><img src="{{asset('imgs/r-s/etsy.svg')}}" alt="Etsy"></a>
                </div>

            </div>

        </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        {# BOOTSRAP #}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
